doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title kiffel.net
    link(rel='stylesheet', href='static/css/styles.css')
  body
    div.container
      block body
    script(src='static/js/vendor/jquery.min.js')
    block scripts